<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <p>
      This is a working test area as I learn Docker, Node js, and a host of other 
      technologies.
    </p>
      <ul>
        <li>The basic application started with 
          <a href="https://codeburst.io/build-a-weather-website-in-30-minutes-with-node-js-express-openweather-a317f904897b">
            Build a weather website in 30 minutes with node.js, express, and openweather.</a></li>
        <li>For getting the app into a container 
          <a href="https://buddy.works/guides/how-dockerize-node-application">
            How to dockerize a node application.</a></li>
      </ul>
    </p>
  </body>
</html>